<div class="container">
<div class="row">
  <div class="col-md-12">
    <app-add-sever></app-add-sever>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Server Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-server-list
              *ngFor="let serverElement of serverElements"
      [element]="serverElement"></app-server-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Client Details</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-client-item
              *ngFor="let clientElement of clientElements"
              [client]="clientElement"></app-client-item>
    </div>
  </div>
</div>
